<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Suave Apps</title>

    <!-- Bootstrap Core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Custom Fonts -->
    <link href="static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- Theme CSS -->
    <link href="static/css/grayscale.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

                            <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Apps</h1>
                        
                           
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

   <!--<section class="container mt-5 ">-->
        <!--<div class="container ">-->
            <!--<div class="col text-white bg-secondary">-->
                <h6 class="display-4"><a class="navbar-brand" href="/">Home</a></h6>
                <hr class="divider"></hr>
                <!--<div class="container table-responsive mt-5">-->

    <h2 aligh="center">{{name}}</h2>
    <h3>Category: {{category}}</h3>
    <div class="container">
        <div class="row">
            <div class="col-md-5" style="margin: 6px">
                <h3>Apple</h3>
                <table border="1" class="table table-bordered table-hover table-condensed">
                    <thead>
                        <tr>
                            <th title="Field #1">Price</th>
                            <th title="Field #1">User Rating</th>
                            <th title="Field #1">File Size</th>
                            <th title="Field #1">Content Rating</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {%for apple in apple_info%}
                            <td align="right">{{apple}}</td>
                            {%endfor%}
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-5" style="margin: 6px">
                <h3>Android</h3>
                <table border="1" class="table table-bordered table-hover table-condensed">
                        <thead>
                            <tr>
                                <th title="Field #1">Price</th>
                                <th title="Field #1">User Rating</th>
                                <th title="Field #1">File Size</th>
                                <th title="Field #1">Content Rating</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                {%for google in google_info%}
                                <td align="right">{{google}}</td>
                                {%endfor%}
                            </tr>
                        </tbody>
                </table>
                <br>
                <a href="\api/{{name}}">View as JSON</a>
            </div>
        </div>
    </div>
</body>
</html>            
